<div id="account-view"
     data-id="account-view"
     data-role="view"
     data-layout="main-layout"
     data-title="Log"
     data-show="app.cartLogs.init">

    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <span data-role="button" data-align="right">Log Off</span>
            <span data-role="backbutton" data-align="left">Back</span>
        </div>
        <ul data-role="buttongroup"
            data-index="3">
            <li data-icon="pause">Newest</li>
            <li data-icon="toprated">Oldest</li>
        </ul>
        <h2><span class="user-name" data-bind="text: username"></span>'s Order History</h2>
    </header>

    <div data-role="content">

        <ul id="logs-listview"
            data-role="listview"
            data-header-template="header-template"
            data-template="cart-logs-template"
            data-bind="source: cartLogsDs"></ul>

        <span data-role="button" data-bind="click: getMore">get more</span>
    </div>
</div>

<script id="cart-logs-template" type="text/x-kendo-template">
    <div class="km-group-title">
        <div class="km-text">
            <span class="order-icon"></span>
            <span>#: app.utils.formatMoney(total)# on </span>
            <span>#: app.utils.formatDate(logDateTime)#</span>
        </div>
    </div>
        <div>
            <ul class="km-list">
                # for (var i = 0; i < meals.length; i++) { #
                <li><div>#: meals[i].name#</div></li>
                <li><div>#: meals[i].quantity# at #: app.utils.formatMoney(meals[i].price)#
                     each = #: app.utils.formatMoney(meals[i].subtotal)#</div></li>
                # } #
                </ul>
                <!--<ul id="test-listview"
            data-role="listview"
            data-template="cart-logs-item-template"
            data-bind="source: meals"></ul>-->
</div>

</script>

<script id="cart-logs-item-template" type="text/x-kendo-template">
    <li class="container">
        <a data-role="button">#: name#</a>
        <a data-role="button">#: subtotal#</a>
    </li>
</script>

<script type="text/x-kendo-template" id="header-template">
    my group - #: value #
</script>

<script id="itemGroupHeader" type="text/x-kendo-template">
    #=kendo.toString(value, 'dddd MMMM d HH:mm')#
</script>
