<div id="account-view"
     data-id="account-login-view"
     data-role="view"
     data-layout="main-layout"
     data-title="Login"
     data-before-show="app.login.beforeShow"
     data-show="app.login.init">

    <header data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-role="view-title"></span>
        </div>
    </header>

    <div data-role="content" id="login-form">
        <input type="text" placeholder="Username" data-bind="value: loginUsername" class="account-input"
                name="username" required />
        <input type="password" placeholder="Password" data-bind="value: loginPassword" class="account-input"
                name="password" required />
        <a data-role="button" data-bind="click: login" class="login">Log In</a>
        <a data-bind="click: register" data-role="button" class="register">Register</a>
    </div>
</div>