<div id="cart-view"
     data-id="cart-view"
     data-role="view"
     data-layout="main-layout"
     data-title="Cart"
     data-init="app.cart.init">

    <header data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-role="view-title"></span>          
        </div>
        <div>
            <h2 data-bind="text: total, invisible: isCartEmpty"></h2>
            <h2 data-bind="text: noItemsPrice, visible: isCartEmpty"></h2>
            <h2 data-bind="visible: isCartEmpty">No Items in cart</h2>
        <a data-role="button" data-bind="click: checkout, invisible: isCartEmpty">Checkout</a>
        </div>
    </header>

    <ul id="menu-listview"
        data-role="listview"
        data-template="menu-template1"
        data-bind="source: items">
    </ul>
</div>

<script id="menu-template1" type="text/x-kendo-template">
    <li class="cuisine-container">
        <a data-role="button"
           data-item-id="#: item.id#">#:kendo.toString(item.price, "c")#</a>

        <div id="touchSurface"
             data-role="touch"
             data-enable-swipe="1"
             data-bind="source: item"
             data-swipe="app.cart.swipe"
             data-hold="app.cart.hold">
            Hold to Delete, Swipe Right to Add, Swipe Left to Remove
        </div>

            <img src="#:item.photo#" class="item-photo" style="width:50px; height:50px;" />
            <h2 class="item-title"><input id="numeric-box" data-bind="value: quantity" min="1" max="99" data-decimals="0" data-format="\\#" data-role="numerictextbox" /></h2>
            <h2 class="item-title" data-bind="text: subtotal()"></h2>

        <span data-bind="visible: deleteMode, click: deleteItem" data-role="button">Delete</span>
    </li>
</script>