<div data-role="view" id="maps-view"
     data-id="maps-view"
     data-layout="main-layout"
     data-title="Location"
     data-show="app.maps.init"
     data-stretch="true">

    <header data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-role="view-title"></span>
        </div>
    </header>

    <div id="no-map" data-bind="invisible: isGoogleMapsInitialized">
        Location requires internet connection to display the map.
    </div>

    <div id="map-canvas" data-bind="visible: isGoogleMapsInitialized"></div>
</div>