<div id="restaurants-view"
     data-id="restaurants-view"
     data-role="view"
     data-layout="main-layout"
     data-title="Restaurants"
     data-init="app.restaurantsAll.init">

    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <span data-role="backbutton" data-align="left">Back</span>
        </div>
        <ul data-role="buttongroup"
            data-index="0">
            <li data-icon="pause" data-bind="click: sortByName">Name</li>
            <li data-icon="toprated" data-bind="click: sortByRating">Rating</li>
                <li data-icon="globe">Address</li>
</ul>
    </header>

    <ul id="itemsList" data-pull-to-refresh="true"
         data-role="listview"
         data-filterable="{field: 'name', operator: 'contains', placeholder: ' type to search...' }"
         data-fixed-headers="true"
         data-header-template="itemGroupHeader"
         data-template="restaurants-template1" 
         data-bind="source: rds"></ul>

</div>

<script type="text/x-kendo-template" id="restaurants-template1">
    <a class="details-link"
       data-role="listview-link"
       href="views/restaurant-view.html\\#details?id=${id}">
        <img class="menu-item-photo" src="${logo}" />
        <h3 class="item-title">#: name#</h3>
        <div class="star">
            <span class="rating">#:rating#</span>
            <div class="rate" style="height: #: (5 - rating) * 12#px"></div>
        </div>
    </a>
</script>

<script id="itemGroupHeader" type="text/x-kendo-template">
    #=kendo.toString(value, 'dddd MMMM d HH:mm')#
</script>