<div data-role="view" id="details" data-transition="slide" data-layout="main-layout" data-show="app.restaurant.init">
    <header data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-role="view-title">Item</span>
        </div>
    </header>

    <div data-role="content">
        <aside>
            <span class="price"></span>
            <a data-role="button">Order</a>
        </aside>
        <h2 data-bind="source: currentRestaurant, text: currentRestaurant.name"></h2>
        <p data-bind="source: currentRestaurant, text: currentRestaurant.address"></p>
        <span class="added"></span>
    </div>
</div>