<div data-role="view" id="menu" data-transition="slide" data-layout="main-layout" data-show="app.restaurant.init">
    <header data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-role="view-title" 
                  data-bind="source: currentRestaurant, text: currentRestaurant.name"></span>
        </div>
    </header>

    <div data-role="content">
        <img data-bind="source: currentRestaurant, attr:{ src: currentRestaurant.logo }" alt="Restaurant Logo" class="restaurant-logo" />
        <h2 data-bind="source: currentRestaurant, text: currentRestaurant.name"></h2>
        <p data-bind="source: currentRestaurant, text: currentRestaurant.address"></p>
        <p data-bind="source: currentRestaurant, text: currentRestaurant.description"></p>
        <a data-role="button" class="restaurant-btn" data-bind="click: goToMenu">Menu</a>
        <a data-role="button" class="restaurant-btn" data-bind="click: goToPhotos">Gallery</a>
        <a data-role="button" class="restaurant-btn" data-bind="click: goToReviewWriting">Write review</a>
        <a data-role="button" class="restaurant-btn" data-bind="click: goToMap">View Location</a>
        <a data-role="button" class="restaurant-btn" data-bind="click: goToReviews">View Reviews</a> 
    </div>
</div>