<div id="restaurant-review-view"
     data-role="view"
     data-layout="main-layout"
     data-before-show="app.restaurant.review.beforeShow"
     data-show="app.restaurant.review.init">

    <header data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left">Cancel</a>
            <span data-role="view-title"
                  data-bind="text: name"></span>
        </div>
    </header>

    <div id="review">
        <label>
            <strong>Review</strong>
            <textarea data-bind="value: text"
                      placeholder="Write your impressions here..."
                      required="required" name="description"
                      class="review-textarea"></textarea>
        </label>
    </div>

    <a data-role="button" data-bind="click: takePicture" class="btn-picture">Take Picture</a>
    <a data-role="button" data-bind="click: loadPicture" class="btn-picture">Load Picture</a>

    <img id="review-image" width="200" alt="review image" data-bind="visible: havePicture, attr:{src: pictureSrc}" />
    <a data-role="button" data-bind="click: cancel, visible: havePicture" class="btn-picture">Cancel</a>

    <div>
        <select id="rating" data-role="dropdownlist" data-template="ala"
                data-bind="events: {change: onChange}"
                data-auto-bind="false" data-option-label="Rate it" data-value="Rate it" required class="btn-picture">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <span data-bind="text: ratingError"></span>
    <a data-role="button" data-bind="click: submit" class="btn-picture">Submit</a>
</div>

<script id="ala" type="text/x-kendo-template">
    #if(parseInt(value)){#
    <span class="stars"><span style="width: #: value * 24 #px"></span></span>
    #}else{#
    Rate It
    #}#
</script>